<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Details</title>
</head>
<body>
    <h3>Listing Details</h3>
    <ul>
        <li><%= Listing.title%></li>
        <li><%= Listing.description %></li>
        <li><%= Listing.image %></li>
        <li> &#8377; <%= Listing.price.toLocaleString("en-IN") %> </li>
        <li><%= Listing.location %></li>
        <li><%= Listing.country %></li>
    </ul>
    <br>
    <a href="/listings/<%= Listing._id %>/edit">Edit your listings</a>
    <br>
    <form action="/listings/<%= Listing._id %>?_method=DELETE" method="post"> 
        <button>Delete</button>
    </form>
    

   
</body>
</html>